.navbar {
    a {
        text-transform: capitalize;
    }
    .active {
        background-color: white;
        color: black;
        padding: 0.5rem;
        border-radius: 0.4rem;
    }

    .linkContainer {
        margin: auto;
        display: flex;
        gap: 10rem;
        justify-content: space-between;
        align-items: center;
    }
    .collapsedLinkContainer {
    }
}
