@import '../breakpoints.scss';

$primary-color: #ff5349;
$primary-color-opacity: #ff524936;
$background-color: white;

// font-weight
$fw-regular: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

$header-height: clamp(48px, 15.5vh, 56px);
@include media('>=tablet') {
    $header-height: clamp(48px, 15.5vh, 64px);
}
